<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dagobar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dagobar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Dagobar.Properties.Settings>
            <setting name="BotNickname" serializeAs="String">
                <value />
            </setting>
            <setting name="BotOAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="BotOwner" serializeAs="String">
                <value />
            </setting>
            <setting name="HasBeenSetuped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BotChannel" serializeAs="String">
                <value />
            </setting>
        </Dagobar.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Dagobar.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>alpha2</value>
            </setting>
            <setting name="LastVersionAddress" serializeAs="String">
                <value>https://raw.githubusercontent.com/r00tKiller/Dagobar/master/.version</value>
            </setting>
        </Dagobar.Properties.Settings>
    </applicationSettings>
</configuration>